<p id="notice"><%= notice %></p>

<p>
  <b>Descrizione:</b>
  <%= @conversazione.descrizione %>
</p>


<%= link_to 'Edit', edit_conversazione_path(@conversazione) %> |
<%= link_to 'Back', conversazioni_path %>
